#!/usr/bin/make -f

export DH_VERBOSE=1
export JAVA_HOME=$(shell bin/find-java.sh 1.8 1.8.9999)
export MINION_PREFIX=/usr/share/minion
export PACKAGE_NAME="opennms-minion"

%:
	dh $@

override_dh_auto_install:
	mkdir -p \
		$$(pwd)/debian/$(PACKAGE_NAME)$(MINION_PREFIX) \
		$$(pwd)/debian/$(PACKAGE_NAME)/etc/default \
		$$(pwd)/debian/$(PACKAGE_NAME)/usr/share/lintian/overrides \
		&& rsync -avr --exclude=debian $$(pwd)/ $$(pwd)/debian/$(PACKAGE_NAME)$(MINION_PREFIX)/ \
		&& mv $$(pwd)/debian/$(PACKAGE_NAME)$(MINION_PREFIX)/etc $$(pwd)/debian/$(PACKAGE_NAME)/etc/minion \
		&& install -c -m 644 $$(pwd)/debian/$(PACKAGE_NAME).lintian-overrides $$(pwd)/debian/$(PACKAGE_NAME)/usr/share/lintian/overrides/$(PACKAGE_NAME) \
		&& ln -s ../../../etc/minion $$(pwd)/debian/$(PACKAGE_NAME)$(MINION_PREFIX)/etc \
		&& mv $$(pwd)/debian/$(PACKAGE_NAME)/etc/minion/minion.conf $$(pwd)/debian/$(PACKAGE_NAME)/etc/default/minion \
		&& rm -rf $$(pwd)/debian/$(PACKAGE_NAME)$(MINION_PREFIX)/COPYING \
		&& echo "location = MINION" > $$(pwd)/debian/$(PACKAGE_NAME)/etc/minion/org.opennms.minion.controller.cfg \
		&& echo "id = 00000000-0000-0000-0000-000000ddba11" >> $$(pwd)/debian/$(PACKAGE_NAME)/etc/minion/org.opennms.minion.controller.cfg
